%form.mui-form
%legend Menu input
.mui-textfield
  %input{type: "text"}/
  %label name
.mui-textfield
  %input{type: "text"}/
  %label description
.mui-textfield
  %input{type: "number"}/
  %label price
%button.mui-btn.mui-btn--raised{type: "submit"} Submit
