.mui-container
  %table
    %tr.mui--appbar-height
      %td.mui--text-title
      %td.mui--text-right
        %ul.mui-list--inline.mui--text-body2
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Pricing
          %li
            %a{:href => "#"} Login

%h1 GPA
%p
  Street address, 100 00 Stockholm

%h2 Menu

-# - @products.each do |product|
-#   %p= product.name
-#   %p= product.description
-#   %p= product.price

- @categories.each do |category_items|
  %p= category_items.name
  - category_items.products.each do |product|
    %p= product.name
    %p= product.description
    %p= product.price
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> admin_form

  -# .container
  -# .col-sm-10.col-sm-offset-1.col-xs-12.blog-content
  -#   - @posts.each do |post|
  -#     .col-xs-12
  -#       .text-center
  -#         %h2= post.title
  -#         %h6= post.created_at.strftime('%b %d, %Y')
  -#       %div
  -#         = raw(post.body).truncate(358)
  -#       .text-center
  -#         = link_to "READ MORE", post_path(post)
  -#       %br/
<<<<<<< HEAD
>>>>>>> admin_form
=======
=======
>>>>>>> bcf1a7053db4ec492b952b2d0f66482408f7bf4e
>>>>>>> admin_form
