
%h1 GPA
%p
  Street address, 100 00 Stockholm

%button.my_order. My Order

%h2 Menu

- @products.each do |product|
  %p= product.name
  %p= product.description
  %p= product.price

- @categories.each do |category_items|
  %p= category_items.name


-#=link_to 'button', my_order_page_path
-#=link_to('button', my_order_page[:url], target: '_blank')