%h1 GPA
%p
  Street address, 100 00 Stockholm

%h2 Menu

- @products.each do |product|
  %p= product.name
  %p= product.description
  %p= product.price

- @categories.each do |category_items|
  %p= category_items.name
